body{
    background-color: aliceblue;
}
.currentDate{
    display:flex;
    justify-content: center;
    margin-top:40px;
}
.todoContainer{

}
.hour{
 margin-top:15px;
 font-weight: 500;
 color: blue;

}
.todo-row:after {
        content: '';
        display:block;
        clear:both;
    }
    
